/* 
    Created on : 23.09.2014, 22:32:11
    Author     : duke
*/

#edit-field-vertragstyp, #edit-field-objekt-typ,
#edit-field-objekt-typ-wohnen-wohnung, #edit-field-objekt-typ-wohnen-zimmer,
#edit-field-objekt-typ-gewerblich, #edit-field-bauart,
#edit-field-parken, #edit-field-strasse, #edit-field-hnr, #edit-field-ortsteil,
#edit-field-objekt-typ-gewerblich-gast, #edit-field-objekt-typ-gewerblich-hall,
#edit-field-objekt-typ-gewerblich-hall, #edit-field-objekt-typ-gewerblich-land,
#edit-field-objekt-typ-gewerblich-sons,#edit-field-objekt-typ-gewerblich-frei,
#edit-field-objekt-typ-gewerblich-zins,#edit-field-objekt-typ-gewerblich-einz,
#edit-field-zustand, #edit-field-gebiet, #edit-field-baujahr,
#edit-field-fenster,#edit-field-flur,#edit-field-flurstueck,#edit-field-gemarkung,
#edit-field-etage,#edit-field-anzahl-etagen,#edit-field-lage-im-bau,#edit-field-zustand-art,
#edit-field-bauweise, #edit-field-ausbaustufe,#edit-field-dachform,#edit-field-gebiete,
#edit-field-energietyp,#edit-field-bebaubar-attr,#edit-field-erschl-attr,
#edit-field-umf-erschl-attr,#edit-field-blick,#edit-field-alter-attr,
#edit-field-zulieferung, #edit-field-altlasten{
  float:left;
  padding: 0 10px 0 0;
  height:80px;
}

fieldset .group-beziehbar{
  clear: both;
}
#edit-field-stadt, #edit-field-land,#edit-field-grundstueck{
  clear:left;
  float: left;
  padding: 0 10px;
}
#edit-field-lage-im-bau-und .form-item-field-lage-im-bau-und-LINKS,
#edit-field-lage-im-bau-und .form-item-field-lage-im-bau-und-RECHTS,
#edit-field-lage-im-bau-und .form-item-field-lage-im-bau-und-VORNE, 
#edit-field-lage-im-bau-und .form-item-field-lage-im-bau-und-HINTEN,
#edit-field-vertragstyp .form-item-field-vertragstyp-und{
  float:left;
  padding: 5px 10px 5px 0;
    
}
.form-item-field-lage-im-bau-und div.description{
  clear:left;
}

#edit-field-ausstattung-und-form-field-bad,
#edit-field-ausstattung-und-form-field-kueche,
#edit-field-ausstattung-und-form-field-boden,
#edit-field-ausstattung-und-form-field-befeuerung,
#edit-field-ausstattung-und-form-field-ausricht-balkon-terrasse,
#edit-field-beziehbar-ab{
  clear: left;
  padding: 0 30px 0 0;
  width:100%;
    
}
#edit-field-ausstattung-und-form-field-bad .form-type-checkbox,
#edit-field-ausstattung-und-form-field-kueche .form-type-checkbox,
#edit-field-ausstattung-und-form-field-boden .form-type-checkbox,
#edit-field-ausstattung-und-form-furn-waerme .form-type-checkbox,
#edit-field-ausstattung-und-form-field-serviceleistungen .form-type-checkbox,
#edit-field-ausstattung-und-form-field-ausricht-balkon-terrasse .form-type-checkbox,
#edit-field-ausstattung-und-form-field-fahrstuhl,
#edit-field-ausstattung-und-form-field-moeb,
#edit-field-ausstattung-und-form-field-serviceleistungen,
#edit-field-ausstattung-und-form-field-angeschl-gastronomie,
#edit-field-energieausweis-und-form-field-primaerenergietraeger1-und .form-type-checkbox,
#edit-field-energieausweis-reference-und-form-field-primaerenergietraeger .form-type-checkbox,
#edit-field-umf-erschl-attr .form-type-checkbox{
  float:left;
  padding: 0 30px 0 0;
}
#edit-field-ausstattung-und-form-kamin .form-type-radio,
#edit-field-ausstattung-und-form-ausstatt-kategorie .form-type-radio,
#edit-field-ausstattung-und-form-klimatisiert .form-type-radio.form-item-field-ausstattung-und-form-klimatisiert,
#edit-field-energieausweis-und-form-jahrgang .form-type-radio,
#edit-field-energieausweis-reference-und-form-gebaeudeart .form-type-radio,
#edit-field-energieausweis-reference-und-form-jahrgang .form-type-radio,
.form-item-field-umf-erschl-attr-und{
  float:left;
  padding: 0 30px 0 0;
}
.form-item-field-ausstattung-und-form-klimatisiert,#edit-field-bauzone{
  clear:left;
}
#edit-field-energieausweis-und-form-ausstelldatum label{
  display: none;
}
.fieldset-description, #edit-field-id{
  display: none;
}
#edit-field-baujahr-reference,#edit-field-beziehbar{
  clear: both;
} 
form#person-form #edit-field-person-copy{
  display: none;
}
.schraeg{
  color: red;
  font-size: 16px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -epub-transform: rotate(-5deg);
}
.richtpreis_hidden, .kaufpreisbrutto_hidden{
  display: none;
}

#edit-field-letztemodernisierung{
  clear:both;
}

.richtpreis{
  color: red;
}

input.input-disabled{
  background-color:#EBEBE4;
  border:1px solid #ABADB3;
  padding:2px 1px;
}

.price_left{
  float:left; 
  padding: 0 15px; 
  min-height:110px;
}

.price_none{
  display: none;
}

#edit-field-haustiere, #edit-field-nichtraucher, #edit-field-als-ferien,
#edit-field-max-personen, #edit-field-geschlecht, #edit-field-geschlecht{
  float: left;
  width:150px;
  height:150px;
  margin-right: 5px;
}
#edit-field-vermietet, #edit-field-denkmalgeschuetzt, #edit-field-hochhaus{
  float: left;
  width:210px;
  height:150px;
  margin-right: 5px;
}

.opacity{
  opacity:0.2;
}

#edit-field-distance-sports-und-form-actions{
  margin-top: 30px;
}

#immoclient-customer-form .field-name-field-customer-copy{
  display: none;
}
.form-item .form-type-radio{
  padding: 5px 5px 5px 0;
  margin: 0;
  border: 0;
}