/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2015, 6:29:48 PM
    Author     : marc
*/

.entity-immoclient-distancesport.clearfix h2{
    display: none;
}
.entity-immoclient-distance h2{
    display: none;
}
.entity-immoclient-floordescription h2, .entity-immoclient-parking h2{
    display: none;
}
#toolbar-menu .path-admin-config, #toolbar-menu .path-admin-structure,
    #toolbar-menu .path-admin-help{
    display: none;
}
.entity-immoclient-contact h2, .entity-immoclient-customer h2{
    display: none;
}